main section article{
    font: 1.2em Azeret Mono,微软雅黑;

}

main section h1 {
  text-align: center;
  margin: 1.3em 0;
}

main section p{
    line-height: 2em;
    text-indent: 2em;
}

section:first-child {
    border-right: 2px solid black;
    min-height: 1000px;
}

section div ul{
    list-style: none;
    box-sizing: border-box;
    text-align: center;
    padding: 0 0em;
    font: 1em 宋体;
    display: none;
    border-left: 5px solid grey;
}

section ul li{
    margin: 1em 0;
}

section div:hover{
    cursor: pointer;
}

section article {
    padding: 1em;
}

