main section p, h1 {
  text-align: center;
  margin: 1.3em 0;
}

main section blockquote {
  /* border: 2px solid black; */

  text-indent: 2em;
  box-sizing: border-box;
  margin: 1.3em 0;
}

/* main section cite::before {
  content: "—";
} */

main section cite {
  margin-top: 0.3em;
  display: block;
  text-align: right;
}
